DEBUG=True
DJANGO_SECRET_KEY=somesecret

DB_PASS=password
DB_USER=user
DB_NAME=postgres
DB_HOST=postgres
DB_PORT=5432

YOOKASSA_SHOP_ID=1366214
YOOKASSA_SECRET_KEY=test_xsZWTIiiFYXxAZF0deSttKmUCY-3p2SyW4M0nLUuTkg
YOOKASSA_VAT_CODE=1

# Telegram-уведомления продавцу об оплаченных заказах
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
